body {
  font-family: 'Source Code Pro', monospace;
}

p {
  
}

.roundBox {
   background-color: darkgrey;

}

.boxToggle {
  
}

.boxInput {
  background-color: darkgrey;

}

p #6 {
  background-color: black;
}

p #5 {
  background-color: rgb(50, 50, 50);
}

p #4 {
  background-color:rgb(100, 100, 100);
}

p #3 {
  background-color: rgb(140, 140, 140);
}

p #2 {
  background-color: rgb(190, 190, 190);
}

p #1 {
  background-color: white;
}