body {
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}

input {
  background-color: burlywood;
}

.playerData {
  display: flex;
}

.layerTwo {
  display: flex;
}

.roundBox {
   background-color: lightgray;
}

.boxToggle {
  background-color: black;
  color: white;
  
}

.boxInput {
  padding: 10px 10px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 20px;
}

.invText {
  height: 20px;
  width: 600px;
}

.credText {
  height: 20px;
}

.centered {
  text-align: center;
}

.equipped {
  height: 10%;
  width: 40%;
}

.resolutions {
  display: flex;
}

#six {
  color: white;
  background-color: black;
}

#five {
  color: white;
  background-color: rgb(50, 50, 50);
}

#four {
  color: white;
  background-color:rgb(100, 100, 100);
}

#three {
  color: white;
  background-color: rgb(140, 140, 140);
}

#two {
  background-color: rgb(190, 190, 190);
}

#one {
  background-color: white;
}

#nameInput {
  height: 25%;
  width: 30%;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
}

#raceInput {
  height: 25%;
  width: 30%;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
}

#stress {
  height: 25%;
  width: 5%;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
}

#inventory {
  height: 25%;
  width: 45%;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
}

#equipped {
  display: inline-block;
}

#credits {
  height: 15%;
  width: 20%;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 20px;
 display: ;
}

#actionRes,
#dangerRes,
#harmRes,
#stressRes {
  height: 25%;
  width: 25%;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
}

#positioning {
  height: 10%;
  width: 100%;
  padding: 5px 5px;
  border-radius: 20px;
  display: block;
}