body {
  font-family: 'Source Code Pro', monospace;
}

input {
  background-color: burlywood;
}

.roundBox {
   background-color: lightgray;
}

.boxToggle {
  background-color: black;
  color: white;
  
}

.boxInput {
  background-color: lightgray;

}
#six {
  color: white;
  background-color: black;
}

#five {
  color: white;
  background-color: rgb(50, 50, 50);
}

#four {
  color: white;
  background-color:rgb(100, 100, 100);
}

#three {
  color: white;
  background-color: rgb(140, 140, 140);
}

#two {
  background-color: rgb(190, 190, 190);
}

#one {
  background-color: white;
}

#nameInput {
  float: left;
  display: inline-block;
}

#raceInput {
  float: right;
  display: block;
}

#stress {
  float: left ;
  display: inline-block;
}

#inventory {
  float: left;
  display: block;
}

#equipped {
  display: block;
}